body {
  background-color: wheat;
}

#booksContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

#top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p:first-child {
  text-align: center;
  font-size: 1.5rem;
  font-family: monospace;
}
p:nth-child(2), p:nth-child(3), p:nth-child(4) {
  text-align: center;
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}

button#removebtn {
  background-color: rgb(248, 87, 141);
}
button#changeStatus {
  background-color: lightblue;
}

.book {
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: lightgoldenrodyellow;
border: 0.3rem rgb(89, 90, 89) solid;
box-shadow: 5px 10px rgb(0, 0, 0);

}
#formContainer {
  display: grid;
  justify-content: space-evenly;
  width: max-content;
  background-color: lightblue;
  padding: 1rem;
}

form>label{
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
}

form>div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.formContent {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: max-content; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 